build/

MSVC/Debug/
MSVC/Release/
MSVC/Binary/

MSVC/packages/
MSVC/ipch/

MSVC/*.suo
MSVC/*.user
MSVC/*.opendb
MSVC/*.sdf
MSVC/.vs
MSVC/*.VC.db

MSVC/*.psess
MSVC/Report*.vsps
MSVC/Report*.vspx
MSVC/Report*.csv

*.sublime-project
*.sublime-workspace
